<h1>All Helpers</h1>

<% @helpers.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |helper| %>
      <div class="col-md-4">
        <%= image_tag helper.picture_url, width: '100%' if helper.picture.present?%>
        <h4><%= link_to helper.name, helper %></h4>
        <h5>Speciality: <%= helper.speciality %> </h5>
        <h5>Rating: <%= helper.rating %>/10</h5>
      </div>
    <% end %>
  </div>
<% end %>
